<!DOCTYPE html>
<html>
<#include "../header.html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>404</title>
</head>
<body>
<div id="mapp">
<el-image
        style="width: 100vw; height: 100vh"
        src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606209560573&di=0f16b60419fa5f3eaf3a52b77df0d5d4&imgtype=0&src=http%3A%2F%2Fhbimg.huabanimg.com%2Fb35ce4bc48a269fc1e92bf6651e708fccac667041e50c-zWqSUH_fw658"
        fit="contain"></el-image>
</div>
<script>
  var vm = new Vue({
    el: '#mapp'
  })
</script>
</body>
</html>
