<!DOCTYPE html>
<html>
<#include "/header.html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
<body>
    <div id="mapp">
        <el-row  :gutter="20">
            <el-table
                    :data="tableData.filter(data => !search || data.createUser.toLowerCase().includes(search.toLowerCase()))"
                    border
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop="createUser"
                        label="创建用户"
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="logModul"
                        label="操作模块"
                        width="200"
                >
                </el-table-column>
                <el-table-column
                        prop="roleId"
                        label="角色名称"
                        width="100"
                        :formatter="formatter"
                        >
                </el-table-column>
                <el-table-column
                        prop="logType"
                        label="日志类型"
                        width="100"
                >
                </el-table-column>
                <el-table-column
                        prop="logDesc"
                        label="日志描述"
                        width="200"
                >
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="操作时间"
                        width="200"
                        :formatter="dateformatter">
                </el-table-column>
                <el-table-column
                        align="right">
                    <template slot="header" slot-scope="scope">
                        <el-input
                                v-model="search"
                                size="mini"
                                placeholder="输入用户名关键字搜索"/>
                    </template>
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)" disabled>查看详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="pageSizes"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
        </el-row>
    </div>


<script>
    var vm = new Vue({
        el: '#mapp',
        data:{
            search: '',
            tableData:[],
            type:[],
            form: {},
            dialog: false,
            loading: false,
            formLabelWidth: '80px',
            pageSizes:[20,50,100,200],
            pageSize:20,
            total:0,
            currentPage:0
        },
        methods: {
            init(){    //初始化数据
                var that=this;
                $.ajax({
                    type: "GET",
                    url: "/role/list",
                    dataType: "json",
                    success: function (result) {
                        that.type=result.infos;
                    }
                });
                that.initList();
            },
            initList(){
                var that=this;
                $.ajax({
                    type: "GET",
                    url: "/log/getLogPage",
                    data:{"pageSize":that.pageSize,"currentPage":that.currentPage},
                    dataType: "json",
                    success: function (result) {
                        that.tableData=result.infos.records;
                        that.total=result.infos.total;
                        that.pageSize=result.infos.size;
                        that.currentPage=result.infos.current;
                    }
                });
            },
            formatter(row, column){
                var value="暂无角色";
                var roleId = row.roleId;
                for(var i=0;i<this.type.length;i++){
                    var t=this.type[i];
                    if(t.id==roleId){
                        value=t.roleName;
                    }
                }
                return value;
            },
            dateformatter(row, column){
                var createTime = row.createTime;
                return formatDate(createTime);
            },
            handleSizeChange(val){
                var that=this;
                that.pageSize=val;
                that.initList();
            },
            handleCurrentChange(val){
                var that=this;
                that.currentPage=val;
                that.initList();
            }
        },
        created(){
            this.init()
        }
    })


    //时间戳转换方法    date:时间戳数字
    function formatDate(date) {
        var date = new Date(date);
        var YY = date.getFullYear() + '-';
        var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
        var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
        return YY + MM + DD +" "+hh + mm + ss;
    }
</script>
</body>
</html>