<!DOCTYPE html>
<html>
<#include "/header.html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
     .custom-tree-node {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-size: 14px;
         padding-right: 8px;
     }
</style>
<body>
    <div id="mapp">
        <el-row :gutter="20">
            <el-col :span="6" :offset="6">
                <el-button type="primary" icon="el-icon-back" @click="backRole()" disabled >删除</el-button>
            </el-col>
            <el-col :span="6" :offset="6">
                <el-button type="primary" icon="el-icon-check" @click="saveRes()">新建</el-button>
            </el-col>
        </el-row>

        <el-input
                placeholder="输入关键字进行过滤"
                v-model="filterText">
        </el-input>
        <el-row :gutter="20">
            <el-col :span="8" >
                <div class="block">
        <div class="custom-tree-container">
            <div style="height: 80vh;overflow:auto">
                <p>系统资源树</p>
                <el-tree
                        class="filter-tree"
                        :data="data"
                        :props="defaultProps"
                        default-expand-all
                        :filter-node-method="filterNode"
                        ref="tree"
                        v-loading="loading"
                        node-key="id"
                        default-expand-all
                        :expand-on-click-node="false"
                       >
      <span class="custom-tree-node" slot-scope="{ node, data }" >
        <span  @click="changeNode(node,data)">{{ node.label }}</span>
      </span>
                </el-tree>
            </div>
        </div>
                </div>
            </el-col>
            <el-col :span="16" >
                <div >
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="资源ID">
                        <el-input v-model="form.resId" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="资源名称">
                        <el-input v-model="form.resName"></el-input>
                    </el-form-item>
                    <el-form-item label="父节点">
                        <el-input v-model="form.resPid"></el-input>
                    </el-form-item>
                    <el-form-item label="资源url">
                        <el-input v-model="form.resUrl"></el-input>
                    </el-form-item>
                    <el-form-item label="资源排序">
                        <el-input v-model="form.resOrder"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">立即保存</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
                </div>


            </el-col>
        </el-row>
    </div>


<script>
    let id = 1000;
    var vm = new Vue({
        el: '#mapp',
        data:{
            loading:true,
            filterText: '',
            data :[],
            checkedCities:[],
            defaultProps: {
                children: 'children',
                label: 'resName'
            },
            form:{
                resId:'',
                resName:'',
                resPid:'',
                resUrl:''
            }
        },
        methods: {
            init(){
                let that=this;
                $.ajax({
                    type: "Post",
                    url: "/role/getResTree",
                    data:{"roleId":1},
                    dataType: "json",
                    success: function (result) {
                        that.data=result.res;
                        that.loading=false;
                    }
                });
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.resName.indexOf(value) !== -1;
            },
            changeNode(node,data){
                this.form=data;
            },
            onSubmit(){
                var that=this;
                $.ajax({
                    type: "Post",
                    url: "/res/saveResNode",
                    data:{"data":JSON.stringify(that.form)},
                    dataType: "json",
                    success: function (result) {
                        if(result.state=='ok'){
                           // that.backRole();
                        }
                    }
                });
            },
            saveRes(){
                var that=this;
                that.form={
                        resId:'',
                        resName:'',
                        resPid:'',
                        resUrl:''
                    }
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        created(){
            this.init()
        }
    })




</script>
</body>
</html>