<!DOCTYPE html>
<html>
<#include "/header.html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
     .custom-tree-node {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-size: 14px;
         padding-right: 8px;
     }
</style>
<body>
    <div id="mapp" style="height: 99%;width:99%;">
        <input type="hidden" id="roleId" value="${roleId}">
        <el-row :gutter="20">
            <el-col :span="6" :offset="6">
                <el-button type="primary" icon="el-icon-back" @click="backRole()">返回</el-button>
            </el-col>
            <el-col :span="6" :offset="6">
                <el-button type="primary" icon="el-icon-check" @click="saveRes()">保存</el-button>
            </el-col>
        </el-row>

        <el-input
                placeholder="输入关键字进行过滤"
                v-model="filterText">
        </el-input>

        <div class="custom-tree-container">
            <div class="block">
                <p>角色资源树</p>
                <el-tree
                        class="filter-tree"
                        :data="data"
                        :props="defaultProps"
                        default-expand-all
                        :filter-node-method="filterNode"
                        ref="tree"
                        v-loading="loading"
                        node-key="id"
                        default-expand-all
                        :expand-on-click-node="false">
      <span class="custom-tree-node" slot-scope="{ node, data }">
        <span>{{ node.label }}</span>
        <span>
            <el-checkbox-group  v-model="data.authSigns"  @change="changeNode(node,data)">
                <el-checkbox label="look" ></el-checkbox>
                <el-checkbox label="update" ></el-checkbox>
                <el-checkbox label="operation" ></el-checkbox>
            </el-checkbox-group>
        </span>
      </span>
                </el-tree>
            </div>
        </div>




    </div>


<script>
    let id = 1000;
    var vm = new Vue({
        el: '#mapp',
        data:{
            loading:true,
            filterText: '',
            data :[],
            checkedCities:[],
            defaultProps: {
                children: 'children',
                label: 'resName'
            }
        },
        methods: {
            init(){
                let that=this;
                let roleId=$("#roleId").val();
                console.log(roleId)
                $.ajax({
                    type: "Post",
                    url: "/role/getResTree",
                    data:{"roleId":roleId},
                    dataType: "json",
                    success: function (result) {
                        that.data=result.res;
                        that.loading=false;
                        console.log(result)
                    }
                });
            },
            backRole(){
                location.href ='/role/index';
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.resName.indexOf(value) !== -1;
            },
            changeNode(node,data){
                if(data!=null&&data.authSigns.length>0){
                    if(node.parent!=null) {
                        var a=node.parent.data.authSigns ;
                        var b= data.authSigns;
                        //取两个数组的并集放入父节点中
                        node.parent.data.authSigns=a.concat(b.filter(function(v){ return !(a.indexOf(v) > -1)}));
                        this.changeNode(node.parent, node.parent.data)
                    }
                }
            },
            saveRes(){
                var that=this;
                let roleId=$("#roleId").val();
                var jo=takeNotNullJson(that.data);
                $.ajax({
                    type: "Post",
                    url: "/role/saveResTree",
                    data:{"roleId":roleId,"data":JSON.stringify(jo)},
                    dataType: "json",
                    success: function (result) {
                        if(result.state=='ok'){
                           that.backRole();
                        }
                    }
                });
            }
        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        created(){
            this.init()
        }
    })

    function takeNotNullJson(val){
        var j=[];
        for(var i=0;i<val.length;i++){
            var j0=val[i];
            var authSigns=j0.authSigns;
            if(authSigns.length>=1){
                var ja1=j0.children;
                if(ja1!=null &&ja1.length>0){
                    takeJsonFormArray(j ,takeNotNullJson(ja1));
                }
                delete j0.children;
                j0.authSigns=authSigns.toString();
                j.push(j0);
            }
        }
        return j;
    }
    function takeJsonFormArray( j0,val){
        if(val.length>=1){
            for(var m=0;m<val.length;m++) {
                var j2=val[m];
                var authSigns=j2.authSigns;
                if(j2.hasOwnProperty("children")){
                    var ja2=j2.children;
                    if(ja2.length>0){
                        takeJsonFormArray(j0,takeNotNullJson(ja2));
                    }
                }
                delete j2.children;
                j2.authSigns=authSigns.toString();
                j0.push(j2);
            }
        }
        return j0;
    }


</script>
</body>
</html>